---
# Auto-detect hardware and install appropriate drivers

- name: Gather GPU information
  shell: lspci | grep -i vga
  register: gpu_info
  changed_when: false

- name: Install AMD drivers
  when: "'AMD' in gpu_info.stdout or 'ATI' in gpu_info.stdout"
  block:
    - name: Install AMD GPU drivers
      become: yes
      pacman:
        name:
          - mesa
          - lib32-mesa
          - vulkan-radeon
          - lib32-vulkan-radeon
          - libva-mesa-driver
          - lib32-libva-mesa-driver
        state: present


- name: Install Nvidia drivers
  when: "'NVIDIA' in gpu_info.stdout"
  block:
    - name: Install Nvidia GPU drivers
      become: yes
      pacman:
        name:
          - nvidia
          - nvidia-utils
          - lib32-nvidia-utils
          - nvidia-settings
        state: present

    - name: Add Nvidia kernel parameters for systemd-boot
      become: yes
      lineinfile:
        path: /etc/kernel/cmdline
        line: "nvidia-drm.modeset=1"
        create: yes
      register: nvidia_cmdline

    - name: Reinstall kernel to apply Nvidia parameters
      when: nvidia_cmdline.changed
      become: yes
      command: reinstall-kernels


- name: Install Intel drivers
  when: "'Intel' in gpu_info.stdout"
  block:
    - name: Install Intel GPU drivers
      become: yes
      pacman:
        name:
          - mesa
          - lib32-mesa
          - vulkan-intel
          - lib32-vulkan-intel
          - intel-media-driver
        state: present

