/* remove rounded borders */
/* * { */
/*   border-radius: 0px; */
/* } */

headerbar {
  min-height: 24px;
  margin: 0;
  padding: 0;
}

tabbar {
  margin: 0;
  padding: 0;
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 10px;
  background-color: #000000;
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: #9ca3af;
  background-color: #000000;
}

tabbar tabbox tab:selected {
  color: #ffaaaa;
  text-shadow: 0px 0px 4px #ff0000;
  font-weight: bold;
}

tabbar tabbox tab label {
  font-size: 14px;
}
