---
# Developer role entry point - executed when 'dev' tag is specified
# Installs development tools, IDEs, and configurations
# Note: Variables loaded by playbook via vars_from: vars.yml

- name: Development tools setup
  block:
    - name: Setup VSCode
      include_tasks: vscode/install.yml

    - name: Install development packages
      pacman:
        name: "{{ dev_packages }}"
        state: present
      become: yes

    - name: Enable and start Docker service
      systemd:
        name: docker
        enabled: yes
        state: started
      become: yes

    - name: Add user to docker group
      user:
        name: "{{ ansible_facts['env']['USER'] }}"
        groups: docker
        append: yes
      become: yes
