---
# Configures podman to be standin for docker so it can be used in testcontainers.net
- name: Enable and start podman.socket (user)
  systemd:
    name: podman.socket
    state: started
    enabled: true
    scope: user

- name: Set DOCKER_HOST environment for user systemd
  command: >
    systemctl --user set-environment
    DOCKER_HOST=unix://{{ ansible_env.XDG_RUNTIME_DIR }}/podman/podman.sock
