---
# Gaming role entry point - executed when 'gaming' tag is specified
# Installs Steam, Proton, gaming tools and optimizations
# Note: Variables loaded by playbook via vars_from: vars.yml

- name: Gaming setup
  block:
    - name: Enable multilib repository
      include_tasks: multilib/enable.yml

    - name: Install Steam
      include_tasks: steam/install.yml

    - name: Install Proton GE
      include_tasks: proton/install.yml

    - name: Install Lutris
      include_tasks: lutris/install.yml

    - name: Install gaming packages
      pacman:
        name: "{{ gaming_packages }}"
        state: present
      become: yes

    - name: Install AUR gaming packages
      community.general.pacman:
        name: "{{ gaming_aur_packages }}"
        state: present
        executable: yay
        extra_args: --noconfirm
