---
# Gaming role entry point - executed when 'gaming' tag is specified
# Installs Steam, Proton, gaming tools and optimizations
# Note: Variables loaded by playbook via vars_from: vars.yml

- name: Gaming setup
  block:
    - name: Enable multilib repository
      include_tasks: multilib/enable.yml

    - name: Install Steam
      include_tasks: steam/install.yml

    - name: Install Proton GE
      include_tasks: proton/install.yml

    - name: Install Lutris
      include_tasks: lutris/install.yml

    - name: Install gaming packages
      pacman:
        name: "{{ gaming_packages }}"
        state: present
      become: yes

    - name: Install AUR gaming packages
      block:
        - name: Allow passwordless pacman for AUR installs
          become: yes
          copy:
            dest: /etc/sudoers.d/99-bootstrap-pacman
            content: |
              {{ ansible_facts['env']['USER'] }} ALL=(ALL) NOPASSWD: /usr/bin/pacman
            mode: '0440'
            validate: 'visudo -cf %s'

        - name: Install AUR gaming packages
          command: yay -S --noconfirm --needed {{ item }}
          loop: "{{ gaming_aur_packages }}"
          register: aur_install
          changed_when: false
          failed_when: false
      always:
        - name: Remove passwordless pacman sudoers
          become: yes
          file:
            path: /etc/sudoers.d/99-bootstrap-pacman
            state: absent
