---
# Install fish shell and deploy configuration

- name: Install fish shell
  pacman:
    name: fish
    state: present
  become: yes

- name: Ensure fish config directory exists
  file:
    path: "{{ user_home }}/.config/fish"
    state: directory
    mode: '0755'

- name: Remove old fish config if exists
  file:
    path: "{{ user_home }}/.config/fish/config.fish"
    state: absent

- name: Symlink fish configuration
  file:
    src: "{{ role_path }}/tasks/tools/fish/config/config.fish"
    dest: "{{ user_home }}/.config/fish/config.fish"
    state: link
    force: yes

- name: Set fish as default shell
  user:
    name: "{{ target_user }}"
    shell: /usr/bin/fish
  become: yes
