---
# Install Starship prompt and generate a Catppuccin preset config

- name: Install Starship
  become: yes
  pacman:
    name: starship
    state: present

- name: Ensure Starship config directory exists in repo
  file:
    path: "{{ role_path }}/tasks/tools/starship/config"
    state: directory
    mode: "0755"

- name: Remove old Starship config if exists
  file:
    path: "{{ ansible_facts['env']['HOME'] }}/.config/starship.toml"
    state: absent

- name: Symlink Starship configuration
  file:
    src: "{{ role_path }}/tasks/tools/starship/config/starship.toml"
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/starship.toml"
    state: link
    force: yes
